appengine/.packages

functions/.dart_tool/
functions/.idea/
functions/.packages
functions/build/
functions/node_modules
functions/package-lock.json

results_feed/.dart_tool/
results_feed/.firebase/
results_feed/.idea/
results_feed/.packages
results_feed/.pub/
results_feed/build/
results_feed/results_feed.iml
