name: package:github_label_notifier_ui
permissions: read-all

on:
  # Run CI on all PRs (against any branch) and on pushes to the main branch.
  pull_request:
    paths:
      - '.github/workflows/github_label_notifier_ui.yaml'
      - 'github-label-notifier/ui/**'
  push:
    branches: [ main ]
    paths:
      - '.github/workflows/github_label_notifier_ui.yaml'
      - 'github-label-notifier/ui/**'
  schedule:
    - cron: '0 0 * * 0' # weekly

defaults:
  run:
    working-directory: github-label-notifier/ui

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        sdk:
          - 2.10.0 # Does not work on newer SDKs.
        os:
          - ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684
        name: Cache build_runner results
        with:
          path: github-label-notifier/ui/.dart_tool/build
          key: ${{ matrix.os }}-${{ matrix.sdk }}
      - name: Cache Pub hosted dependencies
        uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684
        with:
          path: "~/.pub-cache/hosted"
          key: "${{ matrix.os }}-${{ matrix.sdk }}"
      - uses: dart-lang/setup-dart@e51d8e571e22473a2ddebf0ef8a2123f0ab2c02c
        with:
          sdk: ${{ matrix.sdk }}

      - run: dart pub get

      - run: dart format --output=none --set-exit-if-changed .

      - run: dart run build_runner build

      - run: dart analyze --fatal-infos

      # TODO: Write tests
      # - run: dart run build_runner test -- -p chrome
